*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    width: 600px;
    margin: 0 auto;
    background: #DB7F8E;
    text-align: center;
    padding: 20px;
}
.increment{
    margin: 30px;
    padding: 10px 18px;
    background-color: #9DA3A4;
    color: #fff;
}
.Decrement{
    margin: 30px;
    padding: 10px 18px;
    background-color: #9DA3A4;
    color: #fff;
}